<div class="row my-2 border border-primary rounded align-items-center">
    <div class="col-4">
        <img src="/public/img/notes.png" class="img-fluid" alt="Notes logo">
    </div>
    <div class="col-8 text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#noteModal">
            <i class="far fa-sticky-note"></i>
            Create note
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#listModal">
            <i class="fas fa-list"></i>
            Create list
        </button>
    </div>
</div>
