<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-primary">
            <div class="modal-header border-primary">
                <h5 class="modal-title" id="noteModalTitle">Note details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
<<<<<<< HEAD
            <div class="modal-body">
                <section class="container h-100">
                    <form action="/note" method="POST" class="notes-form needs-validation d-flex flex-column justify-content-center align-items-center" novalidate>
                        <div class="form-group col-sm-8 text-center">
                            <label for="notesTheme" class="badge badge-primary text-wrap">Theme of note</label>

                            <input type="test" class="form-control" name="noteTheme" id="noteTheme" placeholder="Some theme" required>
=======
            <div class="modal-body border-primary">
                <section class="container h-100">
                    <form action="/notes" method="POST" class="needs-validation d-flex flex-column justify-content-center align-items-center" novalidate>
                        <div class="form-group col-sm-8 text-center">
                            <label for="themeNote" class="badge badge-primary text-wrap">Theme of note</label>
                            <input type="test" class="form-control" name="themeNote" id="themeNote" placeholder="Some theme" required>
>>>>>>> master
                            <div class="invalid-feedback">
                                Please provide a valid theme.
                            </div>
                        </div>
                        <div class="form-group col-sm-10 text-center">
<<<<<<< HEAD
                            <label for="notesTextarea" class="badge badge-primary text-wrap">Your comment</label>
                            <textarea class="form-control" name="noteTextarea" id="noteTextarea" rows="10" placeholder="Some text"></textarea>
=======
                            <label for="textNote" class="badge badge-primary text-wrap">Your comment</label>
                            <textarea class="form-control" name="textNote" id="textNote" rows="10" placeholder="Some text"></textarea>
>>>>>>> master
                        </div>
                        <button type="submit" class="btn btn-primary">Create note</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>