<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main>
    <ul>
        <% cards.forEach(function(card) { %>
            <li><%= card.name %> <%= card.text %></li>
        <% }); %>
    </ul>
    <form action="/cards" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="text" placeholder="Text">
        <input type="submit" value="Add card">
    </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>