<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<div class="container">
    <% include ../partials/header %>
    <% include ../partials/main %>
</div>

<% include ../partials/note %>
<% include ../partials/list %>
<% include ../partials/footer %>

</body>
</html>