<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
    <body class="bg-light">
        <section class="container h-100 d-flex flex-column">
            <form action="/" method="POST" class="needs-validation d-flex flex-column justify-content-center align-items-center" novalidate>
                <a href="/" class="close badge align-self-end">x</a>
                <div class="form-group  text-center col-sm-10">
                    <label for="noteTheme" class="badge badge-primary text-wrap pt-sm-1 pb-sm-1">Theme of note</label>
                    <input type="text" class="form-control" name="noteTheme" id="noteTheme" placeholder="Some theme" required>
                    <div class="invalid-feedback">
                        Please provide a valid theme.
                    </div>
                </div>
                <div class="form-group text-center col-sm-10">
                    <label for="noteTextarea" class="badge badge-primary text-wrap pt-sm-1 pb-sm-1">Your comment</label>
                    <textarea class="form-control" name="noteTextarea" id="noteTextarea" rows="10" placeholder="Some text"><%= viewNote.textNote %></textarea>
                </div>
                <div class="form-button__note d-flex">
                    <button type="submit" class="btn btn-outline-primary mr-1" id="noteEditBtn" data-id=<%=viewNote._id %>>Edit</button>
                    <button type="submit" class="btn btn-outline-danger ml-1" id="noteDelBtn" data-id=<%=viewNote._id %>>Delete</button>
                </div>
            </form>
        </section>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        // This fix EJS render, because The engine is confused when it reaches Site without an operator between word in string, and we get Unexpected identifier
        document.getElementById("noteTheme").value = <%- JSON.stringify(viewNote.themeNote) %>;
    </script>
</body>
</html>